* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
}

.header p {
    font-size: 1.3rem;
}

.social-icons a {
    color: #fff;
    font-size: 1.8rem;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #3498db;
}

section {
    padding: 50px 0;
    background-color: #fff;
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    color: #3498db;
    text-align: center;
}

p, li {
    font-size: 1.1rem;
    color: #333;
    text-align: center;
}

.projects ul, .certifications ul {
    list-style-type: none;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills-icons img {
    height: 40px;
    transition: transform 0.3s ease;
}

.skills-icons img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .header h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p, li {
        font-size: 1rem;
    }

    .skills-icons img {
        height: 30px;
    }
}