* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.split-screen {
    display: flex;
    width: 80%;
    height: 90vh;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.info, .projects {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.info h1 {
    font-size: 3rem;
}

.info p {
    margin-top: 10px;
    font-size: 1.1rem;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 1.8rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #3498db;
}

.projects {
    background-color: #f4f4f4;
    text-align: center;
}

.projects h2 {
    font-size: 2rem;
    color: #3498db;
    margin-bottom: 20px;
}

.projects ul {
    list-style-type: none;
    font-size: 1.1rem;
}

.projects a {
    color: #3498db;
    text-decoration: none;
}

.projects a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}
